@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<RentalMgtSystem.Models.Unit>

<table class="list-items">
    <thead>
        <tr>
            
            <th>Unit Name</th>
            <th>Description</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var unit in Model)
        {
            <tr>

                
                <td>@Html.DisplayFor(modelname => unit.UnitName)</td>
                <td>@Html.DisplayFor(modelname => unit.Description)</td>
                
            </tr>
        }
    </tbody>
</table>