@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<RentalMgtSystem.Models.Unit>
<div class="form-container text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Site is for Management of Units</p>
    <div>
      @await Html.PartialAsync("_UnitList", Model)
     </div>
</div>
